<div class="panel">
  <%= form_for(@quiz) do |f| %>
    <%= f.fields_for :questions, @questions do |ff| %>
    <div class="panel-question">
      <% if ff.object.song_file.attached? %>

          <%= audio_tag ff.object.song_file.attachment.blob.filename, controls: true %>
      <% else %>
        <div class="panel-question-label">
          <%= ff.object.name  %>
        </div>
      <% end %>
        <%= ff.text_field :answer, class: 'form-control' %>
    </div>
    <% end %>
    <button class="btn btn-lg btn-primary">
      <%= f.submit "Submit!" %>
    </button>
  <% end %>
<div>

