<% @users.each do |user| %>
  <div class="list-item">
    <%= user.username %>
    <% if user.quiz.present? %>
      <%= link_to "View quiz", admin_quiz_path(user.quiz) %>
    <% end %>
    <% user.quiz&.questions&.each do |qq| %>

      <%= "#{qq.name}: #{qq.answer}" %>
    <% end %>
  </div>
<% end %>

<%= form_tag("/admin/users/update_quizzes", method: 'post', remote: true ) do %>
  <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= text_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :reset %>
    <%= check_box_tag :reset %>
  </div>
<button class="btn-lg btn-primary">
  <%= submit_tag %>
<button>

<% end%>
