<% @users.each do |user| %>
  <div class="list-item">
    <%= user.username %>
    <% if user.quiz.present? %>
      <%= link_to "View quiz", admin_quiz_path(user.quiz) %>
    <% end %>
    <% user.quiz&.questions&.each do |qq| %>

      <%= "#{qq.name}: #{qq.answer}" %>
    <% end %>
  </div>
<% end %>

<%= form_for(@user) do |form|%>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  <div class="field">
    <%= label_tag :reset %>
    <%= check_box_tag :reset %>
  </div>
<button class="btn-lg btn-primary">
  <%= form.submit %>
<button>

<% end%>
